{
    "presets": ["es2015", "react"],
    "plugins": [
        "transform-object-rest-spread",
        "transform-decorators",
        "syntax-decorators",
        "syntax-class-properties",
        "transform-class-properties"
    ]
}