.header {
    background: @dark-background;
    height: @logo-height + @title-height;
}

.logo {
    background-size: 36px auto;
    color: @brand-color;
    font-weight: normal;
    font-size: 20px;
    height: @logo-height;
    line-height: @logo-height;
    padding: 0 0 0 50px;
}

.content {
    background: @content-background;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.16);
    margin-top: -@title-height;
}

.main {
    background: #FFF;
    border-right: 1px solid #E6E6E6;
    float: left;
    width: calc(~"100% - @{sidebar-width}");
}

.sidebar {
    float: left;
    padding: @vertical-spacing @horizontal-spacing;
    width: @sidebar-width;
}

.content-header {
    border-bottom: 1px solid @border-color;
    height: @title-height + 1px;
    padding: @vertical-spacing @horizontal-spacing;
}