// colors

@body-background: #F9F9F9;
@dark-background: #2D2D2D;
@page-background: #FCFCFC;
@highlight-background: #FFFDEB;
@border-color: #E6E6E6;
@text-color: #484848;
@title-color: #323232;
@brand-color: #61DAFB;
@muted-color: #949494;
@cta-color: #CC7A6F;

// measurements

@logo-height: 75px;
@page-header-height: 80px;
@sidebar-width: 230px;
@horizontal-spacing: 20px;
@vertical-spacing: 20px;
@border-radius: 3px;

@company-logo-small: 40px;
@company-logo-normal: 60px;

// break-points

@tablet: 900px;
@mobile: 768px;
